.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

.event h4 {
  flex: 1;
  border-right: 1px solid rgba(3, 102, 102, 0.2);
  font-weight: 400;
  font-size: 1.1rem;
}

.event a {
  color: #036666;
}

.edit {
  color: #a3b18a !important;
}

.delete {
  color: red !important;
}

.edit,
.delete {
  margin: 1rem;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .edit,
  .delete {
    font-size: 0.9rem;
    margin: 0.3rem;
    display: flex;
    align-items: center;
  }

  .event h4 {
    margin-right: 0.2rem;
  }
}
