.footer {
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.footer a,
.ver-num {
  color: #036666;
}

.footer a:hover {
  color: #000;
  font-weight: 400;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
