@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #036666;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}
