.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(70, 157, 137, 0.5);
  color: #036666;
  height: 60px;
  padding: 0 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
  color: #036666;
  margin-right: 20px;
}

.header a:hover {
  color: #000;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  font-family: "Lato", sans-serif;
  color: #036666;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1015px) {
  .logo {
    font-size: 1rem;
  }

  .header {
    padding: 0 1rem;
  }
  .header a {
    font-size: 0.9rem;
  }
}

.btnSecondary {
  font: inherit;
  font-size: 0.9rem;
  background: #036666;
  color: rgba(222, 235, 229, 0.9) !important;
  border: 0;
  border-radius: 5px;
  padding: 0.4rem 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSecondary:hover {
  opacity: 0.8;
}

.icon {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
    font-size: 1rem;
  }

  .logo {
    margin: 20px 0;
    font-size: 1.2rem;
  }
}
