.dim {
  opacity: 0.3;
  text-decoration: line-through;
}

.icon {
  font-size: 0.8em;
  padding-right: 2rem;
}

.iconRow {
  display: flex;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  color: #036666;
}

@media (max-width: 600px) {
  .desc {
    display: none;
  }
}
