.description {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: rgba(222, 235, 229, 0.2);
  border: 1px solid rgba(3, 102, 102, 0.1);
}

.mediaGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.booking {
  color: rgba(222, 235, 229, 0.9) !important;
  margin: 2rem 0;
  padding: 0.2rem;
  display: block;
  font-weight: 400;
  text-align: center;
  background: rgba(0, 0, 0, 0.1) url("../public/images/pattern4.png") fixed;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.booking:hover {
  opacity: 0.9;
}

.back:hover {
  color: black;
  font-weight: 700;
}

@media (max-width: 1430px) {
  .map {
    display: none;
  }
  .mediaGroup {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .description,
  .booking {
    font-size: 0.9rem;
  }
}
